<img class="tender-navigation-match-card__avatar w-100" src="{{match.avatarUrl}}" alt="{{match.name}} avatar" />
<div class="tender-navigation-match-card__login text-center py-2">{{match.login}}</div>
