<ul class="tender-navigation-content__list nav">
  <li class="tender-navigation-content__list-item nav-item">
    {{link-to "Matches" "recs" class="tender-navigation-content__list-item-link pb-1"}}
  </li>
</ul>
