.ember-application { // body
  @extend .d-flex;
  @extend .flex-column;
  margin: 0;
  min-height: 100vh;
  height: 100%;

  //TODO: remove
  background: lightgrey;

  > .ember-view {
    @extend .d-flex;
    @extend .flex-column;
    @extend .flex-grow-1;
  }
}

a {
  color: black;
  &:hover,
  &:active {
    color: #5e5e5e;
  }
}

//override bootstrap
.row {
  margin-left: 0;
  margin-right: 0;
}

//variables
$pink: #ffe5e9;
$pink-light: #fff6f7;
$pink-dark: #ffa2b2;
$pink-gradient: linear-gradient(90deg, rgba(232,75,102,1) 0%, rgba(255,162,178,1) 35%, rgba(255,229,233,1) 100%);

$grey-light: #f9f9f9;
$grey-dark: #3d3d3d;
