.tender {
  &-container {
    flex-grow: 1;
  }
  &-navigation {
    max-width: 400px;
    flex-grow: 1;
    background-color: $pink-light;
  }
  &-matches {

    //TODO: remove
    background: $grey-light;
  }
}
